{% extends 'base.html.twig' %}

{% block title %}entreprise info{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>

    <h2>{{ entreprise }}</h2>
    <p>
        Adresse : {{ entreprise.adresseComplete }}
        Date de création : {{ entreprise.dateCreation | date('d-m-Y')}}
    </p>

    <h3>Liste des salariés</h3>
    {% if entreprise.employes | length > 0 %}
        
        {% for employe in entreprise.employes %}
            <a href='{{ path('show_employe', {'id': employe.id}) }}'>{{ employe }} </a><br>
        {% endfor %}
    
    {% else %}
        <p>Aucun salarié</p>
    {% endif %}


{% endblock %}
