{% extends 'base.html.twig' %}

{% block title %}entreprise info{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>

    <h2>{{ entreprise }}</h2>
    <p>
        Adresse : {{ entreprise.adresseComplete }}
        Date de création : {{ entreprise.dateCreation | date('d-m-Y')}}
    </p>

    <h3>Liste des salariés</h3>
    {% if entreprise.employes | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Employé</th>
                </tr>
            </thead>
            <tbody>
        {% for employe in entreprise.employes %}
                <tr>
                    <td>
                        <a href='{{ path('show_employe', {'id': employe.id}) }}'>{{ employe }} </a>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun salarié</p>
    {% endif %}


{% endblock %}
