{% extends 'base.html.twig' %}

{% block title %}employe info{% endblock %}

{% block body %}
    <h1>Détail d'une employe</h1>

    <h2>{{ employe }}</h2>
    <p>
        Date de naissance : {{ employe.dateNaissance | date('d-m-Y')}} <br>
        Age: {{ employe.age }} ans<br>
        Entreprise : <a href='{{ path('show_entreprise', {'id': employe.entreprise.id}) }}'> {{ employe.entreprise }} </a><br>
        Date d'embauche : {{ employe.dateEmbauche| date('d-m-Y')}}
    </p>


{% endblock %}
